name: Release

on:
    push:
        branches:
            - main
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - labeled

defaults:
    run:
        shell: bash

env:
    FORCE_COLOR: true

jobs:
    changelog:
        name: Changelog PR or Release
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'preview') }}
        permissions:
            contents: write
            id-token: write
        steps:
            - uses: actions/checkout@v4

            - name: Cache turbo build setup
              uses: actions/cache@v4
              with:
                  path: .turbo
                  key: ${{ runner.os }}-${{ matrix.NODE_VERSION }}-turbo-${{ github.sha }}
                  restore-keys: |
                      ${{ runner.os }}-${{ matrix.NODE_VERSION }}-turbo-

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Setup Node
              uses: actions/setup-node@v4.2.0
              with:
                  node-version: 22
                  registry-url: 'https://registry.npmjs.org'

            - name: Cache Bun dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.bun/install/cache
                  key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-bun-

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Publish preview
              if: ${{ contains(github.event.pull_request.labels.*.name, 'preview') }}
              run: bun run cut-release
              env:
                  # Use Node auth from above
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Create Release Pull Request or Publish
              id: changesets
              if: ${{ github.event_name == 'push' }}
              uses: changesets/action@v1
              with:
                  # Note: bun install after versioning is necessary to refresh lockfile
                  version: bun run version
                  publish: bun run cut-release
                  commit: '[ci] release'
                  title: '[ci] release'
              env:
                  # Needs access to push to main
                  GITHUB_TOKEN: ${{ secrets.COMMIT_TOKEN }}
                  # Needs access to publish to npm
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
